<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Compatibility -->
	<meta charset="UTF-8">
	<meta content="#181830" name="theme-color">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<!-- SEO & Metadata -->
	<meta content="Loli that makes things for the internets." name="description">
	<meta content="chimere, chimeredev, chi, chimere.me" name="keywords">
	<meta content="website" property="og:type">
	<meta content="Chimere" property="og:title">
	<meta content="https://chimere.me" property="og:url">
	<meta content="Loli that makes things for the internets." property="og:description">
	<meta content="/img/chimere.png" property="og:image">
	<meta content="summary" name="twitter:card">
	<meta content="@chimeredev" name="twitter:site">
	<meta content="@chimeredev" name="twitter:creator">
	<meta content="Chimere" name="twitter:title">
	<meta content="Loli that makes things for the internets." name="twitter:description">
	<meta content="/img/chimere.png" name="twitter:image">
	<!-- Resources -->
	<link href="/css/custom.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.5/css/fork-awesome.min.css" integrity="sha256-P64qV9gULPHiZTdrS1nM59toStkgjM0dsf5mK/UwBV4=" crossorigin="anonymous">
	<script src="https://cdn.pride.codes/js/codecorner.js"></script>
	<link href="/img/favicon.png" rel="shortcut icon">
	<title>Chimere</title>
</head>
<body>
	<div class="container">
		<section class="section animated fadeInDown faster">
			<h1 class="title">Chimere</h1>
			<p class="subtitle">developer, tech junkie</p>
		</section>
		<section class="section animated fadeIn">
			<h2 class="is-size-3">about</h2>
			<p>My name is Chimere, but you can call me Chi. I'm a 16-year-old developer with an interest in InfoSec and vintage/older technology.</p><br>
			<p>I spend a lot of my free time chillng on Discord and messing about with computers. That aside, I'm just an ordinary transgender girl who likes making new friends. If you ever want to talk to me directly, you can do so using some of the links below.</p>
		</section>
		<section class="section animated fadeIn">
			<h3 class="is-size-3">links & contact</h3>
			<p><i class="fa fa-discord"></i> <a class="has-text-dark" href="https://discordapp.com/">Chimere#0836</a></p>
			<p><i class="fa fa-twitter"></i> <a class="has-text-dark" href="https://twitter.com/chimeredev/">@chimeredev</a></p>
			<p><i class="fa fa-github"></i> <a class="has-text-dark" href="https://github.com/chimeredev/">@chimeredev</a></p>
			<p><i class="fa fa-key-modern"></i> <a class="has-text-dark" href="https://keybase.io/chimeredev">@chimeredev</a></p>
			<p><i class="fa fa-envelope"></i> <a class="has-text-dark" href="mailto:hello@chimere.me">hello@chimere.me</a></p>
			<p><i class="fa fa-xmpp"></i> <a class="has-text-dark" href="xmpp:chimeredev@xmpp.jp">chimeredev@xmpp.jp</a></p>
		</section>
	</div>
</body>
</html>
